*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    text-decoration: none;
}
body{
    
    background-color:rgb(0, 55, 207);
}
#foto{
    display: flex;
    margin-top: 30px;
}
#foto > img{
    border-radius: 100px;
    width: 200px;
    margin: auto;
}


img{
    width: 60px;
}
.container {         
    margin: auto;
    margin-top: 35px;      
    width: 100px;
    height: 90px;
    border-radius: 30px;
    display: grid;
    grid-template-areas: "icon text";
    grid-template-columns: 100px 200px;
    align-items: center;
    justify-items: center;
    transition: width 0.3s ease-out 0.1s;
    background-color: rgb(34, 19, 255);
}
.container > img{
    grid-area: icon;
}        
.container > a{
    grid-area: text;
    font-size: 0px;
    position: relative;
    left: -50%;
    color: rgba(0, 0, 0, 0);
    transition: left 0.3s ease-out 0.2s,
    color 0.2s ease-out 0.2s;
}
.container:hover{
    width: 320px;
}
.container:hover a{
    font-size: 35px;
    left: 0;
    color: white;
}