*{
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    text-decoration: none;
}
body{
    
    background-color:rgb(0, 55, 207);
}
#foto{
    display: flex;
    margin-top: 30px;
}
#foto > img{
    border-radius: 100px;
    width: 200px;
    margin: auto;
}




img{
    width: 60px;
}
.menu { 
    list-style: none;
    margin-top: 35px;      
}
.menu .list-item{
    height: 80px;
    padding: 2px;
    margin: 20px 0;
}
.list-item .fa{
    text-align: center;
    line-height: 40px;
}
.list-item a span{
    width: 0;
    left: 70px;
    padding: 0;
    position: absolute;
    overflow: hidden;
    font-size: 35px;
    letter-spacing: 0.6;
    white-space: nowrap;
    line-height: 80px;
    transition: 0.25s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}
.list-item a{
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    text-decoration: none;
    color: white;
    position: relative;
    border-radius: 15px;
    transition: left 0.25s;
}
.list-item a:hover span{
    width: auto;
    padding: 0 20px;
    overflow: visible; 
}


a, a span{
    background-color: blue;
}